
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgb(50, 49, 49) !important;
}

.region-footer {
  background-color: #323131 !important;
  padding: 20px 0 !important;
  font-size: 14px !important;
  color: rgb(255, 255, 255) !important;
  width: 100% !important; /* Ensures full width */
  display: flex;
  justify-content: center; /* Centers content */
  align-items: center;
}

.region-footer a {
  text-decoration: none !important;
  font-weight: bold !important;
  color: white !important;
}

.region-footer a:hover {
  text-decoration: underline !important;
}
